.content {
  max-width: 500px; 
  margin:auto;
  text-align:center;
  }

.arrow {width:5%;}

.images {width:300px; height:250px;}

.a7x {font-family: "Impact";}

.info {font-family: "Arial"; font-weight: bold;}

